*{
	padding: 0px;
	margin: 0px;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}
a {
	text-decoration: none
}
a:visited{
	color: #000;
}
a:link{
	color: #000;
}